body {
    background-color:  #1e1e1e;
}

h1 {
    padding-left: 100px;
    width: 100%;
    color:rgb(255, 255, 255);
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

form {
    padding-left: 100px;
}



input.valor {
    width: 210px;
    height: 20px;;;
    padding: 8px 20px;
    font-size: 11px;
    text-align: left;
    font-size: large;
}

input.peso {
    width: 210px;
    height: 20px;
    padding: 8px 20px;
    font-size: 11px;
    text-align: left;
    font-size: large;
}



button.insere {
    width: 210px;
    height: 25px;
    font-size: 11px;
    text-align: left;
    font-size: medium;
    cursor: pointer;
}

button.calcula {
    width: 150px;
    height: 25px;
    font-size: 11px;
    text-align: left;
    font-size: medium;
    cursor: pointer;
}

ul.botoes {
    padding-left: 100px;
}

p {
    padding-left: 100px;
    width: 100%;
    text-align: left;
    font-size: 30px;
    color:rgb(255, 255, 255);
}

input.special_remove {
    height: 20px;
}
