body {
    background-color: #1e1e1e
}

h1 {
    padding-left: 100px;
    width: 100%;
    color:rgb(255, 255, 255);
}

table {
    padding-left: 100px;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

input {
    width: 100px;
    padding: 12px 20px;
    font-size: 30px;
    text-align: center;
}

button.determinante {
    width: 200px;
    text-align: left;
    font-size: large;
    cursor: pointer;
}

button.transposicao {
    width: 150px;
    text-align: left;
    font-size: large;
    cursor: pointer;
}

p {
    padding-left: 100px;
    width: 500px;
    text-align: left;
    font-size: 30px;
    color:rgb(255, 255, 255);
}

p#solucao {
    width: 700px;
}

div.tabelas {
    display: flex;
}
